<div style="float:right; color:red; font-weight:bold;">Rename this file before you work on it!</div>
# Pandas Spark Exercise 2

We use the [Adventure Works dataset](https://msdn.microsoft.com/en-us/library/hh403424.aspxto) to compare queries in
1. SQL
2. Python Pandas, and 
3. Spark DataFrames.


The data files are available on ARC (our Hadoop Cluster):

**Local File System**
<pre>
$ ls -l /home/data/AdventureWorks/
total 180
-rw-r--r-- 1 root data   6144 Sep  7 18:51 Customers.xls
-rw-r--r-- 1 root data 157184 Sep  7 18:51 Employees.xls
-rw-r--r-- 1 root data   7680 Sep  7 18:51 ItemsOrdered.xls
-rw-r--r-- 1 root data   5632 Sep  7 18:51 SalesTerritory.xls
</pre>

**HDFS**
<pre>
$ hdfs dfs -ls /user/pmolnar/data/AdventureWorks
Found 4 items
-rw-r--r--   3 pmolnar hadoop        466 2017-02-07 22:46 /user/pmolnar/data/AdventureWorks/Customer.csv.gz
-rw-r--r--   3 pmolnar hadoop      18125 2017-02-07 22:46 /user/pmolnar/data/AdventureWorks/Employees.csv.gz
-rw-r--r--   3 pmolnar hadoop        603 2017-02-07 22:46 /user/pmolnar/data/AdventureWorks/ItemsOrdered.csv.gz
-rw-r--r--   3 pmolnar hadoop        404 2017-02-07 22:46 /user/pmolnar/data/AdventureWorks/SalesTerritory.csv.gz
</pre>



## Task
1. Fill in the Python-Pandas or Python-Spark expressions to produce a table as described in the problem statements.
2. The SQL expression may give you a hint. It also allows you to see both systems side-by-side.

# Setup

## Pandas

In [1]:
# %load adventureworks_pandas.py
import pandas as pd
import numpy as np
Empoyees = pd.read_excel('/home/data/AdventureWorks/Employees.xls')
Territory = pd.read_excel('/home/data/AdventureWorks/SalesTerritory.xls')
Customers = pd.read_excel('/home/data/AdventureWorks/Customers.xls')
Orders = pd.read_excel('/home/data/AdventureWorks/ItemsOrdered.xls')

## Spark

In [2]:
# %load pyspark_init.py
"""
Load packages and create context objects...
"""
import os
import platform
import sys
if not 'sc' in vars():
    sys.path.append('/usr/hdp/2.4.2.0-258/spark/python')
    os.environ["SPARK_HOME"] = '/usr/hdp/2.4.2.0-258/spark'
    os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-csv_2.11:1.2.0 pyspark-shell'
    import py4j
    import pyspark
    from pyspark.context import SparkContext, SparkConf
    from pyspark.sql import SQLContext, HiveContext
    from pyspark.storagelevel import StorageLevel
    sc = SparkContext()
    import atexit
    atexit.register(lambda: sc.stop())
    print("""Welcome to
          ____              __
         / __/__  ___ _____/ /__
        _\ \/ _ \/ _ `/ __/  '_/
       /__ / .__/\_,_/_/ /_/\_\   version %s
          /_/
    """ % sc.version)
else:
    print("""Already running
          ____              __
         / __/__  ___ _____/ /__
        _\ \/ _ \/ _ `/ __/  '_/
       /__ / .__/\_,_/_/ /_/\_\   version %s
          /_/
    """ % sc.version)

if not 'sqlCtx' in vars():
    sqlCtx = SQLContext(sc)
print 'Spark Context available as `sc`'
print 'Spark SQL Context (%s) available as `sqlCtx`'%str(type(sqlCtx))
print "Monitor this application at http://arc.insight.gsu.edu:8088/proxy/"+sc.applicationId

Already running
          ____              __
         / __/__  ___ _____/ /__
        _\ \/ _ \/ _ `/ __/  '_/
       /__ / .__/\_,_/_/ /_/\_\   version 1.6.1
          /_/

Spark Context available as `sc`
Spark SQL Context (<class 'pyspark.sql.context.HiveContext'>) available as `sqlCtx`
Monitor this application at http://arc.insight.gsu.edu:8088/proxy/application_1484597252711_0266

In [3]:
# %load adventureworks_spark.py
if not 'sqlCtx' in vars():
   sqlCtx = SQLContext(sc)

Employees_df = sqlCtx.read.format('com.databricks.spark.csv')\
    .options(header=True, inferschema=True)\
    .load('/user/pmolnar/data/AdventureWorks/Employees.csv.gz')

Territory_df = sqlCtx.read.format('com.databricks.spark.csv')\
    .options(header=True, inferschema=True)\
    .load('/user/pmolnar/data/AdventureWorks/SalesTerritory.csv.gz')

Orders_df = sqlCtx.read.format('com.databricks.spark.csv')\
    .options(header=True, inferschema=True)\
    .load('/user/pmolnar/data/AdventureWorks/ItemsOrdered.csv.gz')

Customers_df = sqlCtx.read.format('com.databricks.spark.csv')\
    .options(header=True, inferschema=True)\
    .load('/user/pmolnar/data/AdventureWorks/Customer.csv.gz')

# Queries

### 1a. Show me all the employees, and if any are salespeople then show me the details about their sales territory

SELECT e.EmployeeID
		,e.FirstName + ' ' + e.LastName AS EmployeeName
		,st.*
	FROM dbo.Employees AS e
		INNER JOIN dbo.SalesTerritory AS st
		ON e.TerritoryID = st.TerritoryID
	;

### 1b. Change the columns above
From Employees table use: EmployeeID, FirstName, LastName, TerritoryID
From the SalesTerritory table use: show all the columns except for the TerritoryID

SELECT e.EmployeeID
		,e.FirstName + ' ' + e.LastName AS EmployeeName
		,e.TerritoryID
		,st.Name
		,st.CountryCode
		,st.Region
		,st.SalesYTD
		,st.SalesLastYear
	FROM dbo.Employees AS e
		LEFT OUTER JOIN dbo.SalesTerritory AS st
		ON e.TerritoryID = st.TerritoryID
	;

### 1c. For the list above, limit the results to just salespeople

SELECT e.EmployeeID
		,e.FirstName + ' ' + e.LastName AS EmployeeName
		,e.TerritoryID
		,st.Name
		,st.CountryCode
		,st.Region
		,st.SalesYTD
		,st.SalesLastYear
	FROM dbo.Employees AS e
		INNER JOIN dbo.SalesTerritory AS st
		ON e.TerritoryID = st.TerritoryID
	;

### 2a. Give me a list of customers

SELECT * 
	FROM dbo.Customers as c
	;

### 2b. For those customers, also tell me which sales territory they fall in

SELECT * 
	FROM dbo.Customers as c
	INNER JOIN dbo.SalesTerritory as st
	ON c.SalesTerritoryID = st.TerritoryID
	;

### 3a. Give me a list of sales territories

SELECT * 
	FROM dbo.SalesTerritory as st
	;

### 3b. For those sales territories, also show what customers fall under them

SELECT * 
	FROM dbo.SalesTerritory AS st
	LEFT OUTER JOIN dbo.Customers AS c
		ON c.SalesTerritoryID = st.TerritoryID
	;

### 3c. Make sure, if you didn't already, that any sales territories with 0 customers are also shown in the list

SELECT * 
	FROM dbo.SalesTerritory AS st
	LEFT OUTER JOIN dbo.Customers AS c
		ON c.SalesTerritoryID = st.TerritoryID
	;

### 4a. Give me a list of the customers we have in North Carolina, and note how many there are.

SELECT c.StateName, COUNT(*)
	FROM dbo.Customers as c
	GROUP BY c.StateName
	;

SELECT *
	FROM dbo.Customers as c
	WHERE c.StateName = 'North Carolina'
	;

	
### 4b. For our North Carolina customers, show me the items they have ordered

SELECT *
	FROM dbo.Customers as c
	LEFT OUTER JOIN dbo.ItemsOrdered as ords
		ON c.CustomerID = ords.CustomerID
	WHERE c.StateName = 'North Carolina'
	;

### 4c. Change it so we're only looking at customers who are in Arizona

SELECT *
	FROM dbo.Customers as c
	LEFT OUTER JOIN dbo.ItemsOrdered as ords
		ON c.CustomerID = ords.CustomerID
	WHERE c.StateName = 'Arizona'
	;

### 4d. For each of the items ordered, show the total price of the order (sometimes they ordered more than 1 item)

SELECT *, ords.Quantity*ords.Price AS Total
	FROM dbo.Customers as c
	LEFT OUTER JOIN dbo.ItemsOrdered as ords
		ON c.CustomerID = ords.CustomerID
	;

### 4e. For the Arizona customers above, show the maximum total price per customer. Choose the columns wisely

SELECT c.CustomerID, c.FirstName+' '+c.LastName AS Name, MAX(ords.Quantity*ords.Price) AS MaxTotalOrder
	FROM dbo.Customers as c
	INNER JOIN dbo.ItemsOrdered as ords
		ON c.CustomerID = ords.CustomerID
	WHERE c.StateName = 'Arizona'
	GROUP BY c.CustomerID, c.FirstName+' '+c.LastName
	;

### 4f. For the results above, only show the ones where the MaxTotalPrice is more than $5.00

SELECT c.CustomerID, c.FirstName+' '+c.LastName AS Name, MAX(ords.Quantity*ords.Price) AS MaxTotalOrder
	FROM dbo.Customers as c
	INNER JOIN dbo.ItemsOrdered as ords
		ON c.CustomerID = ords.CustomerID
	WHERE c.StateName = 'Arizona'
	GROUP BY c.CustomerID, c.FirstName+' '+c.LastName
	HAVING MAX(ords.Quantity*ords.Price)>5.0
	;

### BONUS 1: Take the query from #3c and add a column called "CityRegion" that combines dbo.Customers.City and

dbo.SalesTerritory.Region (in the format "City - Region")
SELECT *
		,COALESCE(c.City, 'n/a') -- , CONCAT(c.City, ' - ', st.Region) AS CityRegion
	FROM dbo.SalesTerritory AS st
	LEFT OUTER JOIN dbo.Customers AS c
		ON c.SalesTerritoryID = st.TerritoryID
	;

### BONUS 2: Fix the problem above where CityRegion is NULL sometimes; change it to, for example, "n/a - North America"

SELECT *, CONCAT(COALESCE(c.City, 'n/a'), ' - ', st.Region) AS CityRegion
	FROM dbo.SalesTerritory AS st
	LEFT OUTER JOIN dbo.Customers AS c
		ON c.SalesTerritoryID = st.TerritoryID
	;

### OVERACHIEVER 1: Why do you think a database is designed so the data is split up into different tables?  Why not just put it all in one table?

### OVERACHIEVER 2a: Take the query from 1b and sort it by the sales region so that all the salespeople are the top of the list

SELECT e.EmployeeID
		,e.FirstName + ' ' + e.LastName AS EmployeeName
		,e.TerritoryID
		,st.Name
		,st.CountryCode
		,st.Region
		,st.SalesYTD
		,st.SalesLastYear
	FROM dbo.Employees AS e
		LEFT OUTER JOIN dbo.SalesTerritory AS st
		ON e.TerritoryID = st.TerritoryID
	ORDER BY COALESCE(e.TerritoryID, 99999)
	;

### OVERACHIEVER 2b: From the query above, if the sales territory is outside Europe, do not display it (but we still want to see all the employees in the company!)

SELECT e.EmployeeID
		,e.FirstName + ' ' + e.LastName AS EmployeeName
		,e.TerritoryID
		,st.Name
		,st.CountryCode
		,st.Region
		,st.SalesYTD
		,st.SalesLastYear
	FROM dbo.Employees AS e
		LEFT OUTER JOIN dbo.SalesTerritory AS st
		ON e.TerritoryID = st.TerritoryID AND st.Region = 'Europe'
	ORDER BY COALESCE(e.TerritoryID, 99999)
	;